<tr>
	<td>{{this.title}}</td>
	<td><a href="http://www.reddit.com{{this.link}}">Click Here</a></td>
	<td>{{this.time}}</td>
	<td>{{this.type}}</td>
</tr>
<tr>
	<td colspan="4">{{this.content}}</td>
</tr>